#map{
    height: 500px;
    width: auto;
}

* {
    box-sizing: border-box;
}

.menu {
    height: 500px;
    float: left;
    width: 20%;
    margin-top: 7px;
    text-align: center;
    overflow-y: scroll;
}

.menu details {
    background-color: #bbb;
    padding: 5px;
    margin-top: 5px;
    display: block;
    width: 100%;
    color: black;
}

.menu a {
    background-color: #e5e5e5;
    padding: 5px;
    margin-top: 10px;
    display: block;
    width: 100%;
    color: black;
}

.menu h4 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 5px;
    margin-top: 7px;
    text-align: center;
}

.right h2, .right h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    background-color:#e0e0e0;
    text-align:center;
    padding:10px;
    margin-top:7px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}
